{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container p-t-30">
        <div class="row">
            <div class="col-12 m-b-30">
                <h4>Bonjour {{ app.user.firstName }}</h4>
            </div>
        </div>
    </div>
{% endblock %}